@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hallo</h1>
    <p>Werde die beste Version deiner selbst</p>
    <p>Become the best version of yourself</p>
</div>
